[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ffp"]
	path = ffp
	url = https://github.com/reckziegel/ffp
[submodule "uncorbets"]
	path = uncorbets
	url = https://github.com/reckziegel/uncorbets
